.title {
  text-align: center;
  font-weight: bold;
  margin-top: 50px;
}

.button-container {
  display: flex;
  justify-content: center; /* horizontal zentriert */
  margin-top: 750px;
}

.button-container button {
  border-radius: 12px; /* runde Ecken */
  padding: 20px 15px;
  border: none;
  cursor: pointer;
}
